<!-- views/partials/header.ejs -->
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!--
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>
        </div>
      -->
        <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="/usuarios">Usuarios</a></li>
            <li><a href="/cargador">Tipos cargador</a></li>
            <li><a href="/bicicletas">Bicicletas</a></li>
            <li><a href="/status">Status</a></li>
            <li><a href="/control">Control</a></li>
            <li><a href="/about">Sobre ..</a></li>
        </ul>

    </div>
</nav>
