<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Alegria!</h1>
            <h2>Cargador de Bicicletas listo !</h2>
            <p>Bienvenido al cargador de bicicletas</p>
            <img src="alegria.jpg">
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
