<!-- views/pages/status.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Estado</h2>
            <button id="led1" class="btn btn-success" onclick="ledcontrol()">LED 1 ON </button>
            <script>
            function ledcontrol() {
                var xhttp = new XMLHttpRequest();
                var params="Hola=Mundo"

                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                  document.getElementById("demo").innerHTML =
                  this.responseText;
                  }
                };
                xhttp.open("POST", "ledcontrol", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.setRequestHeader("Content-length", params.length);
                xhttp.setRequestHeader("Connection", "close");

                xhttp.send(params);
                }
            </script>
            <ul>

                  <li id="demo"> Antes del click</li>

            </ul>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
