<!-- views/pages/usuarios.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Usuarios </h2>
            <ul>
              <% users.forEach(function(user) { %>
                <li><%= user.nombre %> - <%= user.codigo %> </li>
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
