<!-- views/pages/v_cargador.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Tipos de Cargador</h2>
            <ul>
              <% modelos.forEach(function(modelo) { %>
                <li><%= modelo.nombre %> - <%= modelo.voltaje %> V </li>
                <% }); %>
            </ul>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
